<div class="container">
    <h2>Просмотр <b>issues</b> у репозитория на <b>GitHub</b></h2>

    <div class="list-group">
        <form-search [owner]="owner" [repo]="repo" (onsubmit)="onFormSubmit($event)" ></form-search>

        <!--Todo: Создать компонент для списка issues-->
        <div class="list-group-item message" *ngIf="message">
            {{ message }}
        </div>
        <div class="list-group-issues" *ngIf="issues.length > 0">
            <div class="list-group-item" *ngFor="let issue of issues">
                <div class="row">
                    <div class="col-lg-2">
                        <a href="{{ issue.user.html_url }}" target="_blank">
                            <img class="avatar" src="{{ issue.user.avatar_url }}">
                            <span>{{ issue.user.login }}</span>
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="name-issue">{{ issue.title }}</div>
                        <div class="opened-by">
                            #{{ issue.number }} {{ issue.created_at }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-pagination" *ngIf="pagination.length > 1">
            <ul class="pagination">
                <li *ngFor="let page of pagination" [class]="page.index == pageIndex ? 'active' : ''">
                    <a [routerLink]="['/',owner,repo,'issues']" [queryParams]="page.index != 1 ? {page:page.index} : {}">{{ page.title }}</a><!--, {page: page.index != 1 ? page.index : ''}-->
                </li>
            </ul>
        </div>

    </div>
</div>