.list-group-item.message {
    text-align: center;
    font-weight: bold;
}
.name-issue {
    font-weight: bold;
}
.opened-by {
    color: #999999;
}
.avatar {
    margin: 5px;
    width: 30px;
    border-radius: 5px;
}
.wrapper-pagination {
    text-align: center;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}