<div class="list-group-item list-group-item-success">
    <form class="row">
        <div class="col-lg-3">
            <input #$owner [value]="owner" type="text" class="form-control" placeholder="Имя пользователя GitHub" required>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input #$repo [value]="repo" type="text" class="form-control" placeholder="Название репозитория" required>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" (click)="onclick($owner.value, $repo.value)">Поиск</button>
                </span>
            </div>
        </div>
    </form>
</div>